@using Zealous.Models
@model List<Zealous.Models.ProgressDetail>
@{
    ViewBag.Title = "ProgressDetail";

    var firstEvent = Model.FirstOrDefault();
}

<h2>ProgressDetail</h2>
@if (firstEvent != null)
{
    <h4>@firstEvent.EventName</h4>

    <div class="event-progress" style="height:100%">
        @for (int i = 0; i < Model.Count; i++)
        {
            var ev = Model[i];
            var strFloat = "float:left";


            <div class="card" style="margin-top:5px; max-width: 18rem;@strFloat">

                <div class="container">
                    <h4><b>@((EventStatus)ev.EventStatus)</b></h4>
                    <p>@ev.Date</p>
                    <p class="card-text">@ev.Note</p>
                </div>
            </div>

            if (i < Model.Count - 1)
            {
                <div class="card text-white bg-success mb-3" style="margin-top:5px;max-width: 5rem;@strFloat">
                    <img src="~/image/progress.png" alt=">>" style="width:100%">
                </div>
            }
        }
    </div>
}
else
{
    <h2>No Progress Available</h2>
}
<hr />
@Html.ActionLink("Back to List", "Index")