@using Zealous.Models;
@model  List<Event>

@{
    var anchor = ViewBag.EventId;
    var bookedEventIds = Session["cart"] as List<int>;
}
<div class="container">
    @if (bookedEventIds != null && bookedEventIds.Count > 0)
    {
    <p style="text-align:center;margin-top:15px" >
        <a class="btn btn-success" href="ConfirmBooking">Confirm Booking</a>
    </p>
    }
   <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Event</th>
                <th style="width:30%">Description</th>
                <th style="width:20%" class="text-center"></th>
            </tr>
        </thead>

        @foreach (var item in Model)

        {
            <tr>
                <td style="vertical-align:middle"><a name="@item.Id"></a>
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="nomargin"> <a href="#"><img src=@Url.Content("~/image/"+item.Image) /></a></h4>
                            @item.EventName
                        </div>
                    </div>
                </td>
                <td class="text-left" style="vertical-align:middle">@item.Description</td>
                <td class="actions" style="vertical-align:middle">
                    @if (item.IsBooked)
                    {
                        @Html.ActionLink("Remove From Card", "RemoveBooking", new { eventId = item.Id }, new { @class = "btn btn-warning" })
                    }
                    else
                    {
                        @Html.ActionLink("Add To Cart", "BookOne", new { eventId = item.Id }, new { @class = "btn btn-success" })
                    }
                </td>
            </tr>

        }
    </table>
</div>
<script>
    window.location = ("" + window.location).replace(/#[A-Za-z0-9_]*$/, '') + "#@anchor"
</script>


            

            










