<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Zealous", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Event<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item">@Html.ActionLink("Event", "Index", "Event")</li>
                            <li class="dropdown-item">@Html.ActionLink("Add", "Add", "Event")</li>
                            <li class="dropdown-item">@Html.ActionLink("Book", "Book", "Event")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Equipment<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item">@Html.ActionLink("Equipment", "Index", "Equipment")</li>
                            <li class="dropdown-item">@Html.ActionLink("Add Equipment", "Add", "Equipment")</li>
                            <li class="dropdown-item">@Html.ActionLink("Book", "Book", "Event")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Tracking", "EventList", "Tracking")</li>
                    <li>@Html.ActionLink("Supplier", "Status", "Supplier")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Equipment<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item">@Html.ActionLink("Supplier", "Index", "Supplier")</li>
                            <li class="dropdown-item">@Html.ActionLink("Add Equipment", "Add", "Equipment")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Role<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item">@Html.ActionLink("Role", "Roles", "Manage")</li>
                            <li class="dropdown-item">@Html.ActionLink("Add User", "AddRoleToUser", "Manage")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Zealous Corporation</p>
            <p style="text-align:right; font-weight:bold">
                @Html.ActionLink("About", "About", "Home") &nbsp;| &nbsp;
                @Html.ActionLink("Contact", "Contact", "Home")
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
